<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户登陆</title>

    <input type="text" placeholder="输入验证码" name="captcha">
    <input type="hidden" id="captchaid">
    <img id ="img" src="" onclick="captcha()"/>
    <input type="button" id="sub" value="提交">

</head>

<body>
</body>
</html>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>

<script>
    captcha()
    function captcha() {
        $.get("/api/getCaptcha", function (res) {
            $("#img").attr("src", res.data)
            $("#captchaid").val(res.captcha)
        })
    }
    captcha()
    $(#sub).click(function (){
        captcha=$("#captcha").val()
        captcha_id =$("#captcha").val()
        $.post("/api/verifyCaptcha",{captcha:captcha,captcha_id:captcha_id},function (res){

        })
    })
</script>